@model CRUD_ENTITY_FRAMEWORK.Models.ViewModels.ProductoViewModel
@{
    ViewBag.Title = "Editar";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Editar", "Productos", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-12">
            @Html.HiddenFor(d=>d.Id)
            <div>
                @Html.LabelFor(d => d.Nombre)
                @Html.TextBoxFor(d => d.Nombre, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Nombre, null, new { @class = "red" })
            </div>

            <div>
                @Html.LabelFor(d => d.Descripcion)
                @Html.TextBoxFor(d => d.Descripcion, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Descripcion, null, new { @class = "red" })
            </div>

            <div>
                @Html.LabelFor(d => d.Marca)
                @Html.TextBoxFor(d => d.Marca, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Marca, null, new { @class = "red" })
            </div>

            

            <br />
            <div style="text-align:right">
                <input value="Guardar" class="btn btn-primary" type="submit" />
            </div>
        </div>
    </div>
}
